.pagination-router{
    margin-top: 10px;
    margin-left: 75%;
}

.page-link{
    margin: 0;
}
.pagination>.page-link:focus{
        box-shadow: none;
}
.pagination>.page-item>.page-link:focus{
    box-shadow: none;
}

.mb-2.d-flex{
    height: 650px;
    position: relative;
}

.card > .card-body > .btn.btn-secondary{
    position: absolute;
    bottom: 20px;
    left: 15px;
}
